@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-datepicker/dist/react-datepicker.css';

tr:nth-child(even) {
  background-color: #ccc;
}

tr:nth-child(odd) {
  background-color: #fff;
}

th {
  width: 75px;
}

th:nth-of-type(1) {
  width: 6rem;
  text-transform: capitalize;
}

tbody {
  height: 270px;
}

a {
  text-decoration: underline;
}

.datepicker-container {
  width: 80%;

  .react-datepicker-wrapper {
    border: 1px solid black;
    width: auto;
    border-radius: 5px;
    margin-left: auto;
  }
}